name: Deploy

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [master]

jobs:
  deploy:
    name: Deploy to Dokku
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Deploy to Dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}/expense-bot
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
          git_push_flags: --force
