name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: GoReleaser
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run GoReleaser
        run: goreleaser release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
